
body {
    background: #280045;
    color: #c393cb;
    font-family: "Open Sans", sans-serif;
    /* overflow: hidden; */
    /* overflow-y: scroll; */
    overflow-y: scroll;
    overflow-x: hidden;
    
  }
  
  a {
    color: #E91E63;
    transition: 0.5s;
  }
  
  a:hover, a:active, a:focus {
    color: #51d8af;
    outline: none;
    text-decoration: none;
  }
  
  p {
    padding: 0;
    margin: 0 0 30px 0;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 0;
  }
  
  /* Back to top button */
  .back-to-top {
    position: fixed;
    display: none;
    background: #E91E63;
    color: #fff;
    padding: 6px 12px 9px 12px;
    font-size: 16px;
    border-radius: 2px;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
  }
  
  @media (max-width: 768px) {
    .back-to-top {
      bottom: 15px;
    }
  }
  
  .back-to-top:focus {
    background: #E91E63;
    color: #fff;
    outline: none;
  }
  
  .back-to-top:hover {
    background: #0c2e8a;
    color: #fff;
  }
  
  /*--------------------------------------------------------------
  # Top Bar
  --------------------------------------------------------------*/
  #topbar {
    background: linear-gradient(45deg, #E91E63 -132%, #0c2e8a 100%);
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    display: none !important;
  }
  
  #topbar .contact-info a {
    line-height: 1;
    color: #acacac;
  }
  
  #topbar .contact-info a:hover {
    color: #E91E63;
  }
  
  #topbar .contact-info i {
    color: #E91E63;
    padding: 4px;
  }
  .contact-info.float-left {
      color: #acacac;
  }
  #topbar .contact-info .fa-phone {
    padding-left: 20px;
    margin-left: 20px;
    border-left: 1px solid #e9e9e947;
  }
  
  #topbar .social-links a {
    color: #E91E63;
    padding: 4px 12px;
    display: inline-block;
    line-height: 1px;
    border-left: 1px solid #e9e9e924;
  }
  
  #topbar .social-links a:hover {
    color: #E91E63;
  }
  
  #topbar .social-links a:first-child {
    border-left: 0;
  }
  
  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  #header {
    padding: 20px 0;
    height: 84px;
    transition: all 0.5s;
    z-index: 997;
    background: #09040c;
    box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.06);
  }
  
  #header #logo h1 {
    font-size: 28px;
    margin: 9px 0 0 0;
    padding: 0;
    line-height: 1;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
  }
  
  #header #logo h1 a {
    color: #ff377b;
    line-height: 1;
    display: inline-block;
    
  }
  
  #header #logo h1 a span {
    /* color: #e448ff; */
    margin-right: 8px;
  }
  
  #header #logo img {
    padding: 0;
    margin: 0;
  }
  
  @media (max-width: 768px) {
    #header {
      padding: 20px 0;
      height: 74px;
    }
    #header #logo h1 {
      font-size: 24px;
    }
    #header #logo img {
      max-height: 40px;
    }
  }
  
  /*--------------------------------------------------------------
  # Intro Section
  --------------------------------------------------------------*/
  #intro {
    width: 100%;
    height: 100vh;
    position: relative;
    /* background: url("../img/rickmorty.jpg") no-repeat; */
    background-size: 100% 100%;
    background-image: url("../img/lofigirl.gif") no-repeat; /* fallback */
    background-image: linear-gradient(to bottom, rgba(251, 23, 100, 0.29) 0%,rgb(40, 0, 69) 100%), url("../img/lofigirl.gif");
  }

  @media (max-width: 768px) {
    #intro {
      /* display: none; */
      /* height: auto; */
      width: 100%;
      height: 50vh;
    }
  }
  
  #intro .intro-content {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 14%;
    z-index: 10;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    
  }
  
  #intro .intro-content h2 {
    color: #ff377b;
    /* color: rgba(0, 0, 0, 1); */
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
  }
  
  #intro .intro-content h2 span {
    color: #fff;
    font-size: 64px;
    text-transform: uppercase;
    font-family: 'Russo One', sans-serif;
    background: -webkit-linear-gradient(#ffc08a, #E91E63);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  @media (max-width: 767px) {
    #intro .intro-content h2 {
      font-size: 22px;
      /* background: #ffffffa3; */
      padding: 0;
    }
  }
  
  #intro .intro-content .btn-get-started, #intro .intro-content .btn-projects {
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 32px;
    border-radius: 2px;
    transition: 0.5s;
    margin: 0;
    color: #fff;
  }
  
  #intro .intro-content .btn-get-started {
    border: 2px solid #e91e63;
    background: #1c0031;
    border-radius: 30px;
    color: #E91E63;
  }
  
  #intro .intro-content .btn-get-started:hover {
    background: none;
    color: #fff;
    background: #ff377b;
    border: 2px solid #ff377b;
  }
  
  #intro .intro-content .btn-projects {
    background: #E91E63;
    border: 2px solid #E91E63;
  }
  
  #intro .intro-content .btn-projects:hover {
    background: none;
    color: #E91E63;
  }
  
  #intro #intro-carousel {
    z-index: 8;
  }
  
  #intro #intro-carousel::before {
    content: '';
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 7;
  }
  
  #intro #intro-carousel .item {
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-transition-property: opacity;
    transition-property: opacity;
  }
  
  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  /* Nav Menu Essentials */
  .nav-menu, .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .nav-menu ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 99;
  }
  
  .nav-menu li {
    position: relative;
    white-space: nowrap;
  }
  
  .nav-menu > li {
    float: left;
  }
  
  .nav-menu li:hover > ul,
  .nav-menu li.sfHover > ul {
    display: block;
  }
  
  .nav-menu ul ul {
    top: 0;
    left: 100%;
  }
  
  .nav-menu ul li {
    min-width: 180px;
  }
  
  /* Nav Menu Arrows */
  .sf-arrows .sf-with-ul {
    padding-right: 22px;
  }
  
  .sf-arrows .sf-with-ul:after {
    content: "\f107";
    position: absolute;
    right: 8px;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
  }
  
  .sf-arrows ul .sf-with-ul:after {
    content: "\f105";
  }
  
  /* Nav Meu Container */
  #nav-menu-container {
    float: right;
    margin: 0;
  }
  
  @media (max-width: 768px) {
    #nav-menu-container {
      display: none;
    }
  }
  
  /* Nav Meu Styling */
  .nav-menu a {
    padding: 10px 8px;
    text-decoration: none;
    display: inline-block;
    color: #9f6ab9;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 14px;
    outline: none;
  }
  
  .nav-menu li:hover > a, .nav-menu > .menu-active > a {
    color: #f50c8b;
  }
  
  .nav-menu > li {
    margin-left: 10px;
  }
  
  .nav-menu ul {
    margin: 4px 0 0 0;
    padding: 10px;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    background: #fff;
  }
  
  .nav-menu ul li {
    transition: 0.3s;
  }
  
  .nav-menu ul li a {
    padding: 10px;
    color: #333;
    transition: 0.3s;
    display: block;
    font-size: 13px;
    text-transform: none;
  }
  
  .nav-menu ul li:hover > a {
    color: #E91E63;
  }
  
  .nav-menu ul ul {
    margin: 0;
  }
  
  /* Mobile Nav Toggle */
  #mobile-nav-toggle {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    margin: 20px 20px 0 0;
    border: 0;
    background: none;
    font-size: 24px;
    display: none;
    transition: all 0.4s;
    outline: none;
    cursor: pointer;
  }
  
  #mobile-nav-toggle i {
    color: #9C27B0;
  }
  
  @media (max-width: 768px) {
    #mobile-nav-toggle {
      display: inline;
    }
  }
  
  /* Mobile Nav Styling */
  #mobile-nav {
    position: fixed;
    top: 0;
    padding-top: 18px;
    bottom: 0;
    z-index: 998;
    background: #0c2e8a;
    left: -260px;
    width: 260px;
    overflow-y: auto;
    transition: 0.4s;
    background: linear-gradient(45deg, #ff206b -200%, #070929 100%);
  }
  
  #mobile-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  #mobile-nav ul li {
    position: relative;
  }
  
  #mobile-nav ul li a {
    color: #fffc;
    font-size: 16px;
    overflow: hidden;
    padding: 10px 22px 10px 15px;
    position: relative;
    text-decoration: none;
    width: 100%;
    display: block;
    outline: none;
  }
  
  #mobile-nav ul li a:hover {
    color: #fff;
  }
  
  #mobile-nav ul li li {
    padding-left: 30px;
  }
  
  #mobile-nav ul .menu-has-children i {
    position: absolute;
    right: 0;
    z-index: 99;
    padding: 15px;
    cursor: pointer;
    color: #fff;
  }
  
  #mobile-nav ul .menu-has-children i.fa-chevron-up {
    color: #E91E63;
  }
  
  #mobile-nav ul .menu-item-active {
    color: #E91E63;
  }
  
  #mobile-body-overly {
    width: 100%;
    height: 100%;
    z-index: 997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(13, 13, 13, 0.9);
    display: none;
  }
  
  /* Mobile Nav body classes */
  body.mobile-nav-active {
    overflow: hidden;
  }
  
  body.mobile-nav-active #mobile-nav {
    left: 0;
  }
  
  body.mobile-nav-active #mobile-nav-toggle {
    color: #fff;
  }
  
  /*--------------------------------------------------------------
  # Sections
  --------------------------------------------------------------*/
  /* Sections Header
  --------------------------------*/
  .section-header {
    margin-bottom: 30px;
  }
  
  .section-header h2 {
    font-size: 32px;
    color: #E91E63;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    padding-bottom: 20px;
    /* display: inline-block; */
    text-align: center;
  }
  
  .section-header h2::before {
    content: '';
    position: absolute;
    display: block;
    width: 62px;
    height: 3px;
    bottom: 0;
    left: 0;
    border-top: #E91E63 solid 2px;
    right: 0;
    text-align: center;
    margin: 0 auto;
  }
  
  .section-header p {
    padding: 0;
    margin: 0;
    text-align: center;
  }
  
  /* About Section
  --------------------------------*/
  #about {
    padding: 60px 0 60px 0;
  }
  
  #about .about-img {
    overflow: hidden;
  } 
  #about .about-img img {
    /* margin-top: -15px; */
    width: 98%;
    border: 1px solid black;
    border-radius: 12px;
    opacity: 0.6;
  }
  
  @media (max-width: 768px) {
    #about .about-img {
      height: auto;
    }
    #about .about-img img {
      margin-left: 0;
      padding-bottom: 30px;
    }
  }
  
  #about .content h2 {
    color: #cecece;
    font-weight: 700;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
  }
  
  #about .content h3 {
    color: #d640ef;
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    font-style: italic;
  }
  
  #about .content p {
    line-height: 26px;
  }
  
  #about .content p:last-child {
    margin-bottom: 0;
  }
  
  #about .content i {
    font-size: 20px;
    padding-right: 4px;
    color: #E91E63;
  }
  
  #about .content ul {
    list-style: none;
    padding: 0;
  }
  
  #about .content ul li {
    padding-bottom: 10px;
  }
  
  /* Services Section
  --------------------------------*/
  #services {
    padding: 60px 0 0 0;
  }
  
  #services .box {
    padding: 40px;
    margin-bottom: 40px;
    background: #0000004a;
    transition: 0.4s;
    border: 3px solid #e91e63;
    position: relative;
    overflow: hidden;
    border-radius: 50px;
  }
  #services .box:after {
    content: '';
    width: 748px;
    height: 62px;
    background: #e91e63;
    position: absolute;
    top: -30px;
    /* border-radius: 50%; */
    right: -30px;
  }
  #services .box:hover {
    box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
  }
  
  #services .box .icon {
    display: block;
    width: 100%;
    text-align: left;
    padding: 15px 0;
  }
  
  #services .box .icon i {
    color: #bababa;
    font-size: 44px;
    transition: 0.5s;
    line-height: 0;
    margin-top: 0px;
  }
  
  #services .box .icon i:before {
    background: #c3c3c3;
    /* background: linear-gradient(45deg, #E91E63 0%, #405ece 100%); */
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  #services .box h4 {
    margin-left: 100px;
    font-weight: 700;
    margin-bottom: 24px;
    font-size: 22px;
    display: block;
    width: 100%;
    text-align: left;
    float: left;
    margin: 0;
  }
  
  #services .box h4 a {
    color: #e91e63a6;
  }
  
  #services .box p {
    font-size: 18px;
    line-height: 26px;
    text-align: left;
    display: block;
    margin: 0;
    padding-top: 15px;
    color: #7d1784;
  }
  /**********
  Events*/
  #event{
      padding:90px 0;
  }
  .box2-main{
      
  }
  .box2{
      
  border: 1px solid #E91E63;
      
  display: inline-block;
      
  padding: 25px;
  }
  .leftSec{
      float:left;
      width: 22%;
      background: #E91E63;
      color: #fff;
      text-align: center;
      padding: 15px;
      margin-right: 3%;
  }
  .rightSec{
      float:right;
      width:75%;
      
  }
  @media (max-width: 767px) {
    #services .box .box {
      margin-bottom: 20px;
    }
    #services .box .icon {
      float: none;
      text-align: center;
      padding-bottom: 15px;
    }
    #services .box h4, #services .box p {
      margin-left: 0;
      text-align: center;
    }
  }
  
  /* Clients Section
  --------------------------------*/
  #clients {
    padding: 60px 0;
  }
  
  #clients img {
    max-width: 100%;
    opacity: 0.5;
    transition: 0.3s;
    padding: 15px 0;
  }
  
  #clients img:hover {
    opacity: 1;
  }
  
  #clients .owl-nav, #clients .owl-dots {
    margin-top: 5px;
    text-align: center;
  }
  
  #clients .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgb(243, 22, 125);
  }
  
  #clients .owl-dot.active {
    background-color: rgb(19, 241, 193);
  }
  
  /* Our Portfolio Section
  --------------------------------*/
  #portfolio {
    /* background: linear-gradient(45deg, #5b0072 54%, #3a0157 100%); */
    padding: 90px 50px;
    color: #ffffff9c;
  }
  
  #portfolio .portfolio-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
    border: 2px solid black;
    /* display: none; */
    /* border-radius: 30px; */
  }
  
  #portfolio .portfolio-item {
    overflow: hidden;
    position: relative;
    padding: 0;
    vertical-align: middle;
    text-align: center;
  }
  
  #portfolio .portfolio-item h2 {
    color: #ffffff;
    font-size: 16px;
    margin: 0;
    text-transform: capitalize;
    font-weight: 700;
    background: #00000085;
    /* border: 1px solid #fff; */
    padding: 25px;
    /* background: linear-gradient(45deg, #e91e6357 0%, #405ece91 100%); */
    display: none;
  }
  
  #portfolio .portfolio-item img {
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
    width: 100%;
  }
  
  #portfolio .portfolio-item:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  
  #portfolio .portfolio-item:hover .portfolio-overlay {
    opacity: 1;
    background: rgba(0, 0, 0, 0.7);
  }
  
  #portfolio .portfolio-info {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  /*----*/
  
  .content-3-10 {
      padding: 0px;
      position: relative;
  }
  
  .content-3-10 .image-container {
      position: absolute;
      height: 300px;
      padding: 0px;
      top: 0px;
  }
  
  .content-3-10 .image-container .background-image-holder {
      background: url('../images/about.jpg') no-repeat center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      height: 100%;
  }
  
  .content-3-10 .content {
      margin-top: 300px;
      padding: 40px;
  }
  
  .content-3-10 h3 {
      margin-bottom: 34px;
  }
  
  .content-3-10 p {
      margin-bottom: 20px;
  }
  
  .img-middle{
      display: block;
      border: 1px solid #d8d8d8;
      padding: 25px;
      margin: 20px auto 25px;
      width: 100%;
  }
  .align-center {
      text-align: center;
  }
  
  
  /* Call To Action Section
  --------------------------------*/
  #call-to-action {
    background: #280045;
    background-size: cover;
    padding: 0;
  }
  
  #call-to-action .cta-title {
    color: #E91E63;
    font-size: 28px;
    font-weight: 700;
    margin-top: 62px;
  }
  
  #call-to-action .cta-text {
    /* color: #b399b8; */
  }
  .cta-btn-container img {
      width: 100%;
  }
  @media (min-width: 769px) {
    #call-to-action .cta-btn-container {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
  
  #call-to-action .cta-btn {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 26px;
    border-radius: 3px;
    transition: 0.5s;
    margin: 0;
    border: 2px solid #e91e63;
    background: #1c0031;
    border-radius: 30px;
    color: #E91E63;
  }
  
  #call-to-action .cta-btn:hover {
    background: #E91E63;
    border: 3px solid #E91E63;
    color: #fff;
    cursor: pointer;
  }
  
  
  /* Contact Section
  --------------------------------*/
  #contact {
    padding: 60px 0;
  }
  
  #contact .contact-info {
    margin-bottom: 20px;
    text-align: center;
  }
  
  #contact .contact-info i {
    font-size: 24px;
    display: inline-block;
    margin-bottom: 0;
    color: #E91E63;
    float: left;
  }
  
  #contact .contact-info address, #contact .contact-info p {
    margin-bottom: 0;
    /* color: #000; */
    display: block;
    float: left;
    width: 100%;
    margin-bottom: 15px;
    padding: 0;
    margin-top: 0;
    margin-left: 27px;
    font-size: 14px;
  }
  
  #contact .contact-info h3 {
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #E91E63;
    float: left;
    margin: 8px 15px;
  }
  
  #contact .contact-info a {
    color: #b885c2;
  }
  
  #contact .contact-info a:hover {
    color: #E91E63;
  }
  
  #contact .contact-address, #contact .contact-phone, #contact .contact-email {
    margin-bottom: 20px;
  }
  
  @media (min-width: 768px) {
    #contact .contact-address, #contact .contact-phone, #contact .contact-email {
      padding: 0;
      text-align: left;
    }
  }
  
  @media (min-width: 768px) {
    #contact .contact-phone {
    }
  }
  
  #contact #google-map {
    height: 290px;
    margin-bottom: 20px;
  }
  
  @media (max-width: 576px) {
    #contact #google-map {
      margin-top: 20px;
    }
  }
  
  #contact .form #sendmessage {
    color: #E91E63;
    border: 1px solid #E91E63;
    display: none;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  
  #contact .form #errormessage {
    color: red;
    display: none;
    border: 1px solid red;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  
  #contact .form #sendmessage.show, #contact .form #errormessage.show, #contact .form .show {
    display: block;
  }
  
  #contact .form .validation {
    color: red;
    display: none;
    margin: 0 0 20px;
    font-weight: 400;
    font-size: 13px;
  }
  
  #contact .form input, #contact .form textarea {
    padding: 10px 14px;
    border-radius: 0;
    box-shadow: none;
    font-size: 15px;
    border: none;
  }
  
  #contact .form button[type="submit"] {
    background: #E91E63;
    border: 0;
    border-radius: 3px;
    padding: 10px 30px;
    color: #fff;
    transition: 0.4s;
    cursor: pointer;
  }
  
  #contact .form button[type="submit"]:hover {
    background: #081e5b;
  }
  
  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
  #footer {
    /* background: #081e5b; */
    padding: 0 0 30px 0;
    font-size: 14px;
    color: #fff;
  }
  
  #footer .copyright {
    text-align: center;
    padding-top: 30px;
    color: #ffffffad;
  }
  
  #footer .credits {
    text-align: center;
    font-size: 13px;
    color: #ffffff85;
    margin-top: 8px;
  }
  
  #footer .credits a {
    color: #E91E63;
  }
  .owl-carousel .owl-item img {
      display: block;
      width: auto;
      height: 100px;
      margin: 0 auto;
  }



  .wrapper {
    display: table;
    height: 100%;
    width: 100%;
  }
  
  .container-fostrap {
    display: table-cell;
    padding: 1em;
    text-align: center;
    vertical-align: middle;
  }
  .fostrap-logo {
    width: 485px;
    height: 200px;
    margin-bottom:15px
  }
  h1.heading {
    color: #fff;
    font-size: 1.15em;
    font-weight: 900;
    margin: 0 0 0.5em;
    color: #e01818;
  }
  @media (min-width: 450px) {
    h1.heading {
      font-size: 3.55em;
    }
  }
  @media (min-width: 760px) {
    h1.heading {
      font-size: 3.05em;
    }
  }
  @media (min-width: 900px) {
    h1.heading {
      font-size: 3.25em;
      margin: 0 0 0.3em;
    }
  } 
  .card {
    display: block; 
      margin-bottom: 20px;
      line-height: 1.42857143;
      background-color: #fff;
      border-radius: 2px;
      box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); 
      transition: box-shadow .25s; 
  }
  .card:hover {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  }
  .img-card {
    width: 100%;
    height:200px;
    border-top-left-radius:2px;
    border-top-right-radius:2px;
    display:block;
      overflow: hidden;
  }
  .img-card img{
    width: 100%;
    height: 200px;
    object-fit:cover; 
    transition: all .25s ease;
  } 
  .card-content {
    padding:15px;
    text-align:left;
  }
  .card-title {
    margin-top:0px;
    font-weight: 700;
    font-size: 1.65em;
  }
  .card-title a {
    color: rgb(255, 0, 119);
    text-decoration: none !important;
  }
  .card-read-more {
    border-top: 1px solid #D4D4D4;
  }
  .card-read-more a {
    text-decoration: none !important;
    padding:10px;
    font-weight:600;
    text-transform: uppercase
  }
 /* modal */
 .full_modal-dialog {
  width: 98% !important;
  /* height: 92% !important;  */ /*this is for fulll screen*/
  min-width: 98% !important;
  min-height: 92% !important;
  max-width: 98% !important;
  max-height: 92% !important;
  padding: 0 !important;
}

.full_modal-content {
  height: 99% !important;
  min-height: 99% !important;
  max-height: 99% !important;
}



/* card */
.card {
  box-shadow: 2px 2px 5px rgb(0, 0, 0);
  border-radius: 30px;
  background: #000000;

}

.card-body {
  background: #000000;
}

.card-footer {
  background: #171717;
  border-bottom-left-radius: 30px !important;
  border-bottom-right-radius: 30px !important;
}

.card-header {
  border-radius: 30px !important;
  border: 0px;
  background: #000000;
}

.card-header img {
  border-radius: 30px;

}