:root {
    --container-bg-color: #333;
    --left-bg-color: rgba(223, 39, 39, 0.7);
    --left-button-hover-color: rgba(161, 11, 11, 0.3);
    --right-bg-color: rgba(43, 43, 43, 0.8);
    --right-button-hover-color: rgba(92, 92, 92, 0.3);
    --hover-width: 75%;
    --other-width: 25%;
    --speed: 1000ms;
  }
  
  html, body {
    padding:0;
    margin:0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: #85096a;
    /* background-image: url('https://siboneycubancuisine.com/image/111152-full_4k-vaporwave-background-warnerwave-xyz.png'); */
  }
  
  h1 {
    font-size: 4rem;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    white-space: nowrap;
  }
  /* this is the about me section */








  /* end of about me section */

  /* this is for first landing page */
  .socialw {
	width: 235px;
	margin: 0 auto 0 auto;
	overflow: auto;
    height: 100%;
    
}

.social{
  position:relative;
	border: 1px solid #292929;
	width: 37px;
	height: 62px;
	float: left;
	margin-left: 10px;
    overflow: hidden;
    
}

.first {
	margin-left: 0px;
}



/*    ANIMATIONS   */

/* Fade In Down */
@-webkit-keyframes fadeInDown {
	0% {  opacity: 0;  -webkit-transform: translateY(-100px);  }	
	100% {  opacity: 1;  -webkit-transform: translateY(0);	}
}

@-moz-keyframes fadeInDown {
	0% {  opacity: 0;  -moz-transform: translateY(-100px);	}	
	100% {  opacity: 1;  -moz-transform: translateY(0);  }
}

@-o-keyframes fadeInDown {
	0% {  opacity: 0;  -o-transform: translateY(-100px);	}	
	100% {  opacity: 1;  -o-transform: translateY(0);  }
}

@keyframes fadeInDown {
	0% {  opacity: 0;  transform: translateY(-100px);	}	
	100% {  opacity: 1;  transform: translateY(0);	}
}

.fadeInDown {
	-webkit-animation: fadeInDown 1s both 0.5s;
	-moz-animation: fadeInDown 1s both 0.5s;
	-o-animation: fadeInDown 1s both 0.5s;
	animation: fadeInDown 1s both 0.5s;
}
/* Fade In Down */

/* Social Transition */

.social img{
position:absolute;
left:0;
top:0;
-webkit-transition: margin-top 250ms ease-in;
-moz-transition: margin-top 250ms ease-in;
-o-transition:  margin-top 250ms ease-in;
transition:  margin-top 250ms ease-in;
}
.social:hover img{
margin-top:-62px;
}

/* end of the social thing */

  
  .button {
    display: block;
    position: absolute;
    left: 50%;
    top: 40%;
    height: 2.5rem;
    padding-top: 1.3rem;
    width: 15rem;
    text-align: center;
    color: #fff;
    border: #fff solid 0.2rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    transform: translateX(-50%);
  }
  
  .split.left .button:hover {
    background-color: var(--left-button-hover-color);
    border-color: var(--left-button-hover-color);
  }
  
  .split.right .button:hover {
    background-color: var(--right-button-hover-color);
    border-color: var(--right-button-hover-color);
  }
  
  .container {
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--container-bg-color);
  }
  
  .split {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
  }
  
  .split.left {
    left:0;
    background: url('https://images.unsplash.com/photo-1542831371-29b0f74f9713?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80') center center no-repeat;
    background-size: cover;
  }
  
  .split.left:before {
    position:absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: var(--left-bg-color);
    background-color: crimson;
    opacity: 10%;
  }
  
  .split.right {
    right:0;
    background: url('https://blog.landr.com/wp-content/uploads/2014/08/cassettes.jpg') center center no-repeat;
    background-size: cover;
  }
  
  .split.right:before {
    position:absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: crimson;
    opacity: 30%;
  }
  
  .split.left, .split.right, .split.right:before, .split.left:before {
    transition: var(--speed) all ease-in-out;
  }
  
  .hover-left .left {
    width: var(--hover-width);
  }
  
  .hover-left .right {
    width: var(--other-width);
  }
  
  .hover-left .right:before {
    z-index: 2;
  }
  
  
  .hover-right .right {
    width: var(--hover-width);
  }
  
  .hover-right .left {
    width: var(--other-width);
  }
  
  .hover-right .left:before {
    z-index: 2;
  }
  
  @media(max-width: 800px) {
    h1 {
      font-size: 2rem;
    }
  
    .button {
      width: 12rem;
    }
  }
  
  @media(max-height: 700px) {
    .button {
      top: 70%;
    }
  }